<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
 // #12
       <% avatar_url = User.avatar_url(@user, 128) %>
       <% unless avatar_url.nil? %>
         <div class="media-left">
 // #13
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

 // #14
 <h2>Posts</h2>
 <%= render @user.posts %>

 <h2>Comments</h2>
 <%= render @user.comments %>
